.dataGridWidget { }

.dataGridEvenRow, .dataGridOddRow {
    background-color: transparent;
}

.dataGridCell {
    padding: 5px 0;
    border: none;
}

.dataGridCell button {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    height: 26px;
    cursor: pointer;
    outline: none;
}

.dataGridFirstColumn {
    padding-left: 1em;
}
.dataGridLastColumn {
    margin-right: 1em;
}
.dataGridFooter { }
.dataGridHeader { }
.dataGridFirstColumnFooter { }
.dataGridFirstColumnHeader { }
.dataGridLastColumnFooter { }
.dataGridLastColumnHeader { }
.dataGridSortableHeader { }
.dataGridSortableHeader:hover { }
.dataGridSortedHeaderAscending { }
.dataGridSortedHeaderDescending { }
.dataGridEvenRowCell { }
.dataGridOddRow { }
.dataGridOddRowCell { }
.dataGridHoveredRow { }
.dataGridHoveredRowCell { }
.dataGridKeyboardSelectedRow { }
.dataGridKeyboardSelectedRowCell { }
.dataGridSelectedRow { }
.dataGridSelectedRowCell { }
.dataGridKeyboardSelectedCell { }