@external .gwt-*;

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0 !important;
    font-family: sans-serif;
    font-size: 90%;
}

@sprite body {
    gwt-image: 'pageBackground';
}

body {
    overflow: hidden;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@sprite .gwt-DialogBox {
    gwt-image: 'dialogBackground';
}

.gwt-TabBar {
    line-height: 20px;
    height: 20px;
    cursor: pointer;
    white-space: nowrap;
}

.gwt-TabBarItem {
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.gwt-TabBarItem, .gwt-TabBarFirst, .gwt-TabBarRest {
    background-color: rgba(0, 0, 0, 0.1);
}

.gwt-TabBarFirst {
    width: 10px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
}

.gwt-TabBarRest {
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
}

.gwt-TabBarItem .gwt-Label {
    color: lightgrey;
}

.gwt-TabBarItem-selected {
    background-color: rgba(0, 0, 0, 0);
}

.gwt-TabBarItem-selected .gwt-Label {
    color: white;
}

.gwt-TabPanelBottom {
    height: 100%;
}

.gwt-DialogBox {
    padding: 1em;
    border-radius: 7px;
    z-index: 100000001;
    box-shadow: 0 0 15px black;
}

@external .Caption;
.gwt-DialogBox .Caption {
    color: white;
    font-weight: bold;
    font-size: 120%;
    text-shadow: 1px 1px 1px #222;
    text-align: center;
}

.gwt-DialogBoxOverlay {
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
}

@external .dialogTop;
.dialogTop {
    cursor: move;
}

.gwt-Button {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    height: 26px;
    cursor: pointer;
    outline: none;
}

.gwt-Button:hover {
    text-shadow: -1px -1px 1px black;
}

.statusPanel {
    position: absolute;
    top: 10px;
    height: 26px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
