@external .gwt-Label;
@external .not-displayed, .not-visible, .dragging;
@external .card;

.not-displayed {
    display: none;
}

.not-visible {
    visibility: hidden;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    cursor: url("img/cursor/open-hand.cur") 4 4, move;
}

.dragging {
    cursor: url("img/cursor/closed-hand.cur") 4 4, move;
}

.buttonsPanel td {
    vertical-align: middle ! important;
}

.titleEast, .titleSouth, .titleWest, .handHeaderLeftPanel {
    float: left;
}

.trickCountWidow, .trickCountEast, .trickCountSouth, .trickCountWest {
    float: right;
}

.gwt-Label, .contractLabel {
    color: white;
}

.contractLink {
    text-transform: lowercase;
    display: inline;
    color: #ffa200;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: .1em .5em;
    margin-left: .5em;
    font-size: 88%;
}

.contractTricks {

}

.contractSuit {
    font-size: 140%;
}

.noTrump {

}

@external .turnPointer;
.turnPointer {
    position: absolute;
    top: 47%;
    left: 47%;
    opacity: 0.2;
}

@external .turnPointerActive;
.turnPointerActive, .turnPointer:hover {
    opacity: 1;
    cursor: pointer;
}

@external .turnPointerEast;
.turnPointerEast {
    left: 515px;
    transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
}

@external .turnPointerSouth;
.turnPointerSouth {
    top: 406px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

@external .turnPointerWest;
.turnPointerWest {
    left: 5px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}