.dockPanel {
    width: 1164px;
    /*height: 768px;*/
    margin: 20px auto 0;
}

.handPanel {
    background-color: rgba(0,0,0,0.1);
    border-radius: 7px;
    cursor: url("img/cursor/openhand.cur") 4 4, move;
}

.northHand, .southHand {
    width: 100%;
}

.northHand {
    height: 164px;
}

.southHand {
    height: 164px;
}

.eastHand, .westHand, .centerHand {
    height: 420px;
}

.eastHand {

}

.westHand {

}

.centerHand {
}