@external .gwt-Label;
@external .not-displayed, .not-visible, .dragging;
@external .verticalPanel, .buttonsPanel, .dockPanel;
@external .northDock, .eastDock, .southDock, .westDock, .centerDock;
@external .northVPanel, .eastVPanel, .southVPanel, .westVPanel, .centerVPanel;
@external .northHPanel, .southHPanel, .eastHPanel, .westHPanel, .centerHPanel;
@external .northFlowPanel, .eastFlowPanel, .southFlowPanel, .westFlowPanel, .centerFlowPanel;

.not-displayed {
    display: none;
}

.not-visible {
    visibility: hidden;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    cursor: url("img/cursor/open-hand.cur") 4 4, move;
}

.dragging {
    cursor: url("img/cursor/closed-hand.cur") 4 4, move;
}

.verticalPanel {
    width: 1164px;
    margin: 0 auto;
}

.buttonsPanel {
    height: 60px;
}

.buttonsPanel td {
    vertical-align: middle ! important;
}

.dockPanel {
    width: 100%;
    height: 100%;
}

.northDock, .eastDock, .southDock, .westDock, .centerDock {
    position: relative;
}

.northVPanel, .eastVPanel, .southVPanel, .westVPanel, .centerVPanel {
    position: relative;
    width: 100%;
}

.northHPanel, .southHPanel, .eastHPanel, .westHPanel, .centerHPanel {
    width: 100%;
    line-height: 20px;
    padding: 0 10px 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 20px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.northFlowPanel, .eastFlowPanel, .southFlowPanel, .westFlowPanel, .centerFlowPanel {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.northDock, .southDock {
    width: 1164px;
}

.eastDock, .westDock {
    width: 297px;
}

.northFlowPanel, .southFlowPanel {
    height: 184px;
}

.eastFlowPanel, .westFlowPanel, .centerFlowPanel {
    height: 440px;
}

.eastVPanel, .westVPanel {
    width: 297px;
}

.centerVPanel {
    width: 550px;
}

.titleNorth, .titleEast, .titleSouth, .titleWest, .handHeaderLeftPanel {
    float: left;
}

.trickCountNorth, .trickCountEast, .trickCountSouth, .trickCountWest {
    float: right;
}

.handTitle {
    font-size: small;
    text-shadow: 1px 1px 1px #222;
}

.gwt-Label, .contractLabel {
    color: white;
}

.contractLabel {
    text-transform: lowercase;
    white-space: pre;
}

.contractLink {
    text-transform: lowercase;
    display: inline;
    color: #ffa200;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: .1em .5em;
    margin-left: .5em;
    font-size: 88%;
}

.contractTricks {

}

.contractSuit {
    font-size: 140%;
}

.noTrump {

}

.play {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 2px;
}

.edit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.turnPointer {
    position: absolute;
    top: 47%;
    left: 47%;
    opacity: 0.2;
}

.turnPointerActive, .turnPointer:hover {
    opacity: 1;
    cursor: pointer;
}

.turnPointerNorth {
    top: 25px;
    transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
}

.turnPointerEast {
    left: 515px;
    transform:rotate(0);
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
}

.turnPointerSouth {
    top: 406px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}

.turnPointerWest {
    left: 5px;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}