@external .gwt-Label, .gwt-Hyperlink;
@external .not-displayed, .not-visible, .dragging;
@external .verticalPanel, .buttonsPanel, .dockPanel;
@external .northDock, .eastDock, .southDock, .westDock, .centerDock;
@external .northVPanel, .eastVPanel, .southVPanel, .westVPanel, .centerVPanel;
@external .northHPanel, .southHPanel, .eastHPanel, .westHPanel, .centerHPanel;
@external .northFlowPanel, .eastFlowPanel, .southFlowPanel, .westFlowPanel, .centerFlowPanel;

.not-displayed {
    display: none;
}

.not-visible {
    visibility: hidden;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    cursor: url("img/cursor/open-hand.cur") 4 4, move;
}

.dragging {
    cursor: url("img/cursor/closed-hand.cur") 4 4, move;
}

.verticalPanel {
    width: 1164px;
    margin: 0 auto;
}

.buttonsPanel {
    height: 60px;
    padding: 20px 20px 0 20px;
}

.dockPanel {
    width: 100%;
    height: 100%;
}

.northDock, .eastDock, .southDock, .westDock, .centerDock {
    position: relative;
}

.northVPanel, .eastVPanel, .southVPanel, .westVPanel, .centerVPanel {
    position: relative;
    width: 100%;
}

.northHPanel, .southHPanel, .eastHPanel, .westHPanel, .centerHPanel {
    width: 100%;
    line-height: 20px;
    padding: 0 10px 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 20px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.northFlowPanel, .eastFlowPanel, .southFlowPanel, .westFlowPanel, .centerFlowPanel {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.northDock, .southDock {
    width: 1164px;
}

.eastDock, .westDock {
    width: 297px;
}

.northFlowPanel, .southFlowPanel {
    height: 184px;
}

.eastFlowPanel, .westFlowPanel, .centerFlowPanel {
    height: 440px;
}

.eastVPanel, .westVPanel {
    width: 297px;
}

.centerVPanel {
    width: 550px;
}

.titleNorth, .titleEast, .titleSouth, .titleWest, .handHeaderLeftPanel {
    float: left;
}

.trickCountNorth, .trickCountEast, .trickCountSouth, .trickCountWest {
    float: right;
}

.handTitle {
    font-size: small;
    text-shadow: 1px 1px 1px #222;
}

.gwt-Hyperlink {
    display: inline;
}

.gwt-Label {
    color: white;
}

.handTitle .gwt-Hyperlink {
    color: #c2ffaa;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: .1em .5em;
    margin-left: .5em;
    font-size: 88%;
}

.contractTricks {

}

.contractSuit {
    font-size: 140%;
}

.noTrump {

}
